<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="douban.pageslider"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="GDT_AD_APPID"
            android:value="1101981396"/>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="53e2dffdfd98c539b8019d0b"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="main"/>

        <activity
            android:name=".SplashActivity"
            android:configChanges="screenSize|keyboardHidden|locale"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|keyboardHidden|locale"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DetailActivity"
            android:configChanges="screenSize|keyboardHidden|locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"/>


        <!-- integrate youmi ad start-->
        <meta-data
            android:name="YOUMI_CHANNEL"
            android:value="1024">
        </meta-data>
        <activity
            android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>
        <service
            android:name="net.youmi.android.AdService"
            android:exported="false">
        </service>
        <receiver
            android:name="net.youmi.android.AdReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="net.youmi.android.SmartBannerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@style/Transparent"
            android:screenOrientation="portrait">
        </activity>
        <service
            android:name="net.youmi.android.SmartBannerService"
            android:exported="false">
        </service>
        <!-- integrate youmi ad end-->

        <!-- integrate duomeng ad start -->
        <activity
            android:name="cn.domob.android.ads.DomobActivity"
            android:theme="@android:style/Theme.Translucent"
            android:screenOrientation="portrait"/>

        <!-- integrate duomeng ad end -->

    </application>

</manifest>
